*{
    margin-left: 1px;
}

html,
body {
  height: 100%;
  margin: 1px;
  padding: 1px;
}

#map,
#pano {
  float: left;
  height: 50%;
  width: 25%;
}
#card1{
  height: 365px;
  width: 400px;
}
body {
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}
nav{
  position:absolute;
  bottom: 0px;
}